.pager .pager-dots {
    width: 100%;
    text-align: center;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: -2px;
}

.pager .pager-dots li {
    display: inline-block;
    background-color: #d3d7e2;
    width: 58px;
    height: 58px;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    margin: 21px 21px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    -webkit-box-shadow: 0px 0 0px 0px transparent;
    box-shadow: 0px 0 0px 0px transparent;
    cursor: pointer;
}

.pager .pager-dots li.active {
    background-color: #23356f;
    -webkit-box-shadow: 0px 0 0px 16px #d3d7e2;
    box-shadow: 0px 0 0px 16px #d3d7e2;
}

.pager .pager-dots li a,
.pager .pager-dots li span {
    cursor: pointer;
    display: block;
    font-family: "Georgia";
    font-weight: bold;
    color: #fff;
    border: none;
    background: transparent;
    line-height: 1;
    font-size: 28px;
    padding: 0px;
    outline: none;
    margin-top: -10px;
}