@font-face{
	font-family: "Century-Gothic";
	src: url('fonts/century-gothic.ttf') format("truetype");
	font-weight: normal;
}
@font-face{
	font-family: "Century-Gothic";
	src: url('fonts/century-gothic-bold.ttf') format("truetype");
	font-weight: bold;
}

html{
    height: 100%;
}

body{
	font-family: Century-Gothic, sans-serif ;
	display: flex; 
	flex-direction: column; 
	justify-content: space-between;
	height: 100%; 
	/*height: -webkit-fill-available;*/
}


h1, h2, h3, h4{	
	font-weight: bold;
	text-align: center;
}

h2{
	padding: 30px 0;
	text-transform: uppercase;
}

.body-page{
	flex: 1 0 auto;
}


.header_text--left{
	text-align: left;
}

.text-orange{
	color: #ff9200;
}

.body-page-padding{
	padding-top: 180px;
	padding-top: 130px;
}


.b-company-text{
	font-size: 20px;
	line-height: 31px;
}

.bg-white-transparent-6{
	background: rgba(255,255,255,.6);
}

.bg-white-transparent-5{
	/*background: rgba(255,255,255,.5);*/
}

.top{
	background: #fff;
	height: 67px;
}

.container{
	max-width: 1140px;
	padding: 0 !important;
}


.logo--link{
	background: url('img/logo.png?v') no-repeat;
	display: block;
	height: 80px;
	width: 	242px;

}

.icon-vk-black{
	background: url('img/icon_vk_black.png');
	background-size: cover;
	height: 31px;
	width: 31px;
}


.menu-top{
	align-items: center;
	/*height: 126px;*/
	height: 90px;
	display: flex;	
	position: absolute;
	transition: none;
	z-index: 1000;
    left: 0px;
    width: 100%;
    transition: 1s;
}

.position-fixed{
	position: fixed;
	top:0;
	transition: 1s;
}

.menu-top--list{
	margin:0;
}

.menu-top--list li{
	display: inline-block;
	padding: 5px 10px;
}

.menu-top--list li a{
	color: #000;
	font-size: 17px;
	text-transform: uppercase;	
	text-decoration: none;
}

.menu-top--list li a:hover{
	border-bottom: 2px solid #f89105;
}



/* подменю */

.menu-top--list li{
	position: relative;
}

.child-menu{
	background: rgba(255,255,255,0.8);
	display: none;
	position: absolute;	
	padding: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 260px;
}


.child-menu ul{
	padding: 0;
}

.child-menu li{
	display: block;
}

.child-menu li a{
	font-size: 16px;
}

.menu-top--list li:hover .child-menu{
	display: block;
}

li.parent{
	margin-right: 10px;	
}

li.parent:after{
	background: url(/img/arrow_down.png) no-repeat;
	content: '';
	position: absolute;
	right: -7px;
	top: 17px;
	height: 8px;
	width: 14px;
}





header{
	height: 778px;
}

.section{
	/*padding: 75px 0;*/
	padding: 40px 0;
}

.section-grey{
	background: #eaeced;
}

.section-light-grey{
	background: #fbf9f9;
}


.headslider,
.headslider__item{
	height: 100%;
	position: relative;	
}

.headslider__content{
	clip-path: polygon( 10% 0%, 100% 0%, 100% 100%, 0% 100% );
	background: rgba(255,255,255,.5);
	color: #fff;	
	font-weight: bold;
	text-transform: uppercase;
	bottom: 0;
	position: absolute;	
	right: 0;
	width:100%;
	text-align: right;
	padding-right: 20px!important;
}

.b-headslider__content{
	max-width: 1140px;
    margin: 0 auto;
    position: relative;
    height: 778px;
}

.b-head__service{
	max-width: 1140px;
	margin: 0 auto;
}


.headslider__text--h1{
	/*font-size: 55px;*/
	font-size: 350%
}

 .headslider__text--h2{
 	/*font-size: 50px;*/
 	font-size: 300%
 }

.headslider__text--h1,
.headslider__text--h2{
 	text-shadow: 1px 1px 2px #555;
 	padding-left: 42px;
 }

.b-catalog__item--info{
	align-items: center;
	background: #131b21;
	color: #fff;
	font-size: 32px;
	height: 85px;
	display: flex;	
	justify-content: center;
	text-align: center;	
}

.b-catalog__item a,
.b-catalog__item a:hover{
	text-decoration:none;
}



.b-service__list{
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}


.b-service__item--img__individual{
	background: url('img/icon_individual_projects_white.png');
	height: 105px;
	width: 88px;
	transition: 1s;
}
.b-service__item:hover .b-service__item--img__individual{
	background: url('img/icon_individual_projects_dark.png');
	transition: 1s;
}


.b-service__item--img__finished_projects{
	background: url('img/icon_finished_projects_white.png') no-repeat;
	height: 106px;
	width:  114px;
	transition: 1s;
}
.b-service__item:hover .b-service__item--img__finished_projects{
	background: url('img/icon_finished_projects_dark.png') no-repeat;
	transition: 1s;
}


.b-service__item--img__project_analysis{
	background: url('img/icon_project_analysis_white.png') no-repeat;
	height: 106px;
	width:  114px;
	transition: 1s;
}
.b-service__item:hover .b-service__item--img__project_analysis{
	background: url('img/icon_project_analysis_dark.png') no-repeat;
	transition: 1s;
}


.b-service__item--img__technical_supervision{
	background: url('img/icon_technical_supervision_white.png') no-repeat;
	height: 106px;
	width:  114px;
	transition: 1s;
}
.b-service__item:hover .b-service__item--img__technical_supervision{
	background: url('img/icon_technical_supervision_dark.png') no-repeat;
	transition: 1s;
}




.b-service__item--link,
.b-service__item{
	background: #131b21;
	width: 275px;
	height: 275px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	flex-direction: column;
	cursor: pointer;
	transition: 1s;
	/*padding: 40px;*/
}


.b-service__item:hover,
.b-service__item{
	color: #fff;
}

.b-service__item:hover{
	background: #fff;
	border: 1px solid #131b21;
	color: #131b21;
	transition: 1s;
}

.b-service__item--header{
	font-weight: bold;
	margin-top:30px;
	text-align: center;
	text-transform:uppercase;
}



.button{
	border:1px solid #75787b;
	color: #000;
	padding: 9px 50px;
	font-size: 24px;
}

.button:hover{
	background: #75787b;
	color: #fff;
	text-decoration: none;
}


.company-number-text{
	font-size:23px;
	color: #acaaaa;
	text-align: right;
	display: flex;
	justify-content: center;
}

.company-number-data{
	color: #000;
	font-size: 75px;
	font-weight: normal;
	text-align: center;
}

.b-advantage--item-text{
	font-size: 20px;
	/*font-weight: bold;*/
}

.b-advantage--item-ico,
.b-advantage--item-text{
	display: flex;
	justify-content: center;
	text-align: center;
}

.b-advantage--item{
	cursor: pointer;
}

.carusel-arrow{
	height: 39px;
	width: 21px;
	position: absolute;
	top:205px;
	border: none;
}


.left_arrow{
	background: url(img/left_arrow_grey.png);
	left: 10px;	
}

.right_arrow{
	background: url(img/right_arrow_grey.png);
	right: 10px;
}


.left_arrow:hover{
	background: url(img/left_arrow_white.png);
	transition: 1s;
}
.right_arrow:hover{
	background: url(img/right_arrow_white.png);
	transition: 1s;
}

.left_arrow:focus,
.right_arrow:focus{
	border:none;
	outline: none;
}

.b-carusel{
	/*height: 365px;
	overflow: hidden;
	padding: 0 40px;
	position: relative;*/
}

.gallery-reviews{
	/*height: 380px;
	max-width: 1060px;
	margin:0 20px; ;
	overflow: hidden;*/
}

.b-reviews--list{
	/*width: 9999px;*/
}


.b-review-item{
/*	display: inline-block;
	padding: 0 10px;
	width: 255px;*/
}

.b-review-item--img{
	position: relative;
    top: 67px;
	z-index: 1000;
	display: flex;
	justify-content: center;
	/*width: 232px;*/
}

.b-review-item--circle{
	background: #fff;
	border-radius: 150px;
	padding: 20px;
	height: 138px;
	width:141px;
	z-index: 1000;
	display: flex;
	justify-content: center;
}

.b-review-item--text{
	background-color: #fff;	
	font-size: 13px;
	
	top:-30px;
	overflow: hidden;
	/*padding: 60px 15px 15px 15px;*/
	/*padding-top: ;*/
	padding: 66px 15px 15px 15px;
	height: 227px;
	z-index: 10;
	/*width: 232px;*/
}

.review-text{	
	height: 138px;	
	position: relative;
	overflow: hidden;
	/*width: 202px;*/
	line-height: 15px;
}

.link-dark-md{
	font-size: 20px;
	text-decoration: underline;
}

.bg-grey{
	background-color: #fbf9f9;
}

.group-input{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 224px;
}

.input{
	padding: 15px
}
.textarea{
	display: block;
	padding: 15px;
	width: 100%;
	height: 100%;
}

.feedback-submit{
	background: #1a2126;
	border: none;
	color:#fff;	
	padding: 10px;
	width: 100%;
}

.feedback-submit:hover{
	background:#fff;	
	color: #1a2126;
	/*border:1px solid #1a2126;*/
	outline: 1px solid #1a2126;
}

.b-feedback-contacts-header{
	padding: 10px 0;
	text-align: left;
}

.ico-contact-address:before{
	content: '';
	background: url('img/icon_map.png') no-repeat;
	height: 26px;
	display: inline-block;
	width: 16px;
}

.ico-contact-phone{
	background: url('img/icon_phone_orange.png') no-repeat;
	height: 15px;
	display: inline-block;
	width: 17px;
}

.ico-contact-email{
	background: url('img/icon_e-mail_orange.png') no-repeat;
	height: 13px;
	display: inline-block;
	width: 19px;
}

.contact-email{
	cursor: pointer;
}

.ico-contact-vk{
	background: url('img/icon_vk_orange.png') no-repeat;
	height: 12px;
	display: inline-block;
	width: 21px;
}

.contact-text{
	color: #212529;
	font-size: 18px;		
}
.contact-phone{
	font-size: 21px;
}



.footer{
	background: #d7dfdf;
	padding: 40px 0;
	flex: 0 0 auto;
}

.footer-logo{
	display: flex;
	justify-content: center;
	padding: 20px;
}

.copyright{
	font-size: 20px;
}
.footer-text{
	font-size: 19px;
}


.top-vk-black,
.top-phone,
.top-email{
	display: flex;
	align-items: center;
	font-size: 26px;
}
.top{
	display: flex;
	align-items: center;	
}

.top-phone{
	justify-content: center;
}

.phone:before{
	content: '';
	background: url(img/icon_phone_black.png) no-repeat;
	background-size: contain;
	height: 18px;
	display: inline-block;	
	margin-right: 15px;
	width: 15px;
}

.email-link{
	color: #000;
}

.email-link:hover{
	color: #000;
}

.email:before{
	content: '';
	background: url(img/icon_e-mail_black.png) no-repeat;
	background-size: contain;
	height: 18px;
	display: inline-block;	
	margin-right: 15px;
	width: 26px;
}

.top-email{
	display: flex;
	justify-content: flex-end;
}

.b-catalog__list_css:hover>div:not(:hover){
	opacity: 0.6;
	transition: 1s;
}

.b-footer-contacts{
	padding-top: 20px;
}




/* catalog */

.cart-list{
	justify-content: flex-start;
	display: flex;
	flex-wrap: wrap;
}

.cart-item{
	color: #000;
	margin-top:20px;
	margin-right: 12px;
	position: relative;	
}

.cart-item:hover{
	color: #000;
	text-decoration: none;
}

.cart-item:hover .cart-item--img{	
}

.cart-item:hover .cart-item--text-hover{
	display: block;
	transition: 1s;

}

.cart-item--text-hover{
	background: rgba(255,255,255,.7);
	height: 270px ;
	/*width: 368px;*/
	width: 100%;
	z-index: 1000;
	position: absolute;
	top:50px;
}

.cart-item--header{
	position: absolute;
	top:0;
	left:0;
	background: rgba(255,255,255,.7);
	width: 100%;
}

.icon-floors{

}

.cart-item--header-h3{
	color: #ff8e01;
	padding-top: 0px;
	padding-left: 20px;
	text-align: left;
	font-size: 28px;
	margin-top: 10px;
}

.cart-item--text-hover{
	display: none;
}

.cart-item-footer{
	display: flex;
	justify-content: space-around;	
	flex-wrap: wrap;
}

.cart-item-footer>div{
	flex: 0 1 50%;
}

.price-item{
	align-items: center;
	background: #1a2126;
	color: #fff;
	display: flex;
	justify-content: center;
}

.price-item-number{
	font-size: 38px;
	font-weight: bold;
}

.price-item-currency{
	padding-top: 15px;
}

.metric-area{
	align-items: center;
	background: #efeaea;
	display: flex;
	justify-content: space-between;
	justify-content: space-evenly;
	padding: 13px;

}

.icon-metric-area{
	background: url(img/icon_area.png) no-repeat;
	height: 28px;
	width: 28px;
}

.value-metric-area{
	font-size: 24px;
}

.icon-floors{
	background: url(img/icon_floor.png) no-repeat;
	display: block;
	height: 47px;
	width: 47px;
}
.icon-size{
	background: url(img/icon_length_width.png) no-repeat;
	display: block;
	height: 47px;
	width: 47px;
}
.icon-rooms{
	background: url(img/icon_rooms.png) no-repeat;
	background-size: contain;
	display: block;
	height: 47px;
	width: 47px;
}

.row-item-text-hover{
	align-items: center;
	display: flex;
	justify-content: space-around;
}

.row-item-text-hover>div{
	flex: 0 1 50%;
}

.text-hover-value{	
	font-size: 72px;
	text-align: center;
}

.size-value{
	font-size: 30px;
}
.icon-text-hover{
	flex-direction: column;
	font-size: 13px;
    display: flex;
    /*justify-content: center;    */
    align-items: center;
}



/* detail prooduct page */

.main-image{
	width: 648px;
	height: 572px;
	overflow: hidden;
}

.lightbox-link{
	display: block;
}

.item__header h1{
	text-align: left;
}

.total-square:before{
	background: url(img/icon_square.png) no-repeat;
	background-size: contain;
	content: '';
	display: inline-block;
	height: 58px;
	width: 60px;
	/*height: 78px;*/
	/*width: 80px;*/
}

.icon-size-detail:before{
	background: url(img/icon_15X15.png) no-repeat;
	content: '';
	display: inline-block;
	height: 53px;	
	width: 55px;
}

.icon-rooms--detail:before{
	background: url(img/icon_rooms.png) no-repeat;
	background-size: cover;
	content: '';
	display: inline-block;
	margin-right: 25px;
	height: 58px;
	width: 58px;
	/*height: 68px;
	width: 68px;*/
}

.icon-garage-detail:before{
	background: url(img/icon_garage.png) no-repeat;
	background-size: contain;
	content: '';
	display: inline-block;
	height: 58px;	
	width: 58px;
	
}


.icon-garage-detail:before,
.icon-rooms--detail:before,
.icon-size-detail:before,
.total-square:before{
	margin-right: 20px;
	background-size: contain;
}


.properties--icon{
	display: flex;
	justify-content: flex-start;
	padding: 5px 0;
}

.row-properties--icon{
	/*font-size: 47px;*/
	font-size: 30px;
}

.total-square:{
	
}

.property--icon{
	display: flex;
	justify-content: flex-start;
	align-items:center;


}

.property--icon span.rooms-text-detail{
	font-size: 14px;
	display: flex;
	justify-content: center;
}

.icon-garage-detail{
	font-size: 40px;
}

.size-house-text{
	font-size: 28px;
}

.w-240{
	width: 230px;
}

.text-sm{
	font-size: 20px;
}

.total-square-text sup{
	font-size: 16px;
}


.line-height-sm{
	line-height: 36px;
	text-align: center;
}

.rooms-text-detail{
	line-height: 15px;	
}


.row-detail-block{
	display: flex;
	justify-content: flex-end;
}

.cols-detail-1{
	width: 648px;
}

.cols-detail-2{
	background: #fff;
	padding-left: 23px;
	width: 499px;
}

.garage-is{
	font-size: 28px;
}

.buttons-detail{
	padding: 20px 20px 10px 0;
}

.button-order,
.question{
	background: #131b21;
	border: none;
	color: #fff;
	font-size: 18px;
	margin-bottom: 20px;	
	padding: 15px;
	width: 100%;
}

.question:hover{
	background:#fff;
	/*border:1px solid #131b21;*/
	outline: 1px solid #131b21;
	color: #131b21;
}


.row-sections-price{
	align-items: flex-end;
	display: flex;
	justify-content: space-between;
	text-transform:uppercase;
	padding: 5px 25px 5px 0;
}

.link_download_example{
	color: #797777;
	font-size: 14px;
}

.link_download_example:hover{
	color: #ff9200;
	text-decoration: none;
}

.download_example{
	width: 150px;
}

.section-price-name{
	width: 350px;
}

.price-bold{
	font-weight: bold;
}

.section-price{
	color: #797777;
	text-transform: initial;
}


.price-name-tarif{
	text-transform: initial;	
}

.b-button-order{
	margin-right: 20px;
}

.button-order:hover{	
	background: #ff9200;	
}



.tabs{
	display: flex;
	justify-content: space-between;
}

.tab-text{
	text-transform: uppercase;
}

.tab-item{
	align-items: center;
	background: #bdbdbd;
	/*flex-grow: 0;*/
	color: #fff;
	cursor: pointer;
	display: flex;
	justify-content: center;
	flex-basis:25%;
	font-size: 23px;
	font-weight: bold;	
	margin-left: 5px;	
	text-align: center;
	padding: 10px 0;
	position: relative;
}

.tab-1{
	margin-left: 0;
}

.tab-item.selected{
	background: #787575;
}

.tab-item.selected:after{
	content: '';
    background: url(img/arrow-down-selected.png) no-repeat;
    height: 13px;
    width: 51px;
    display: block;
    position: absolute;
    bottom: -13px;
}

.gallery{
	padding: 0 25px;
	/*margin: 0 20px 0 20px;
	overflow: hidden;
	width: 585px;*/
}

.thumbnail-list{
	/*display: flex;
	justify-content:space-between;*/
	/*width: 9999px;
	max-height:132px ;	*/
}

.b-thumbnail-item:focus,
.slick-slide img:focus{
	outline: none;
}

.b-thumbnail-item{
	/*flex-basis: 23%;*/
	display: inline-block;
	padding: 0 5px;
	
}

.b-thumbnail-item:hover{
	cursor: pointer;
}

.thumbnail-scroll{
	margin-top: 10px;
	position: relative;
}

.btn-prev, .btn-next{
	border: none;
	position: absolute;
	top:29%;
	width: 21px;
	height: 39px;
}

.btn-prev:focus, .btn-next:focus{
	border: none;
	outline: none;
}

.btn-prev{
	background: url(img/left_arrow_grey.png) no-repeat;	
	
	left:0;

}
.btn-next{
	background: url(img/right_arrow_grey.png) no-repeat;	
	right:5px;
}

.tab-info{
	background: #F4F4F4;
	display: none;
	padding: 20px 30px;
}


.tab-info.active{
	display: block;
}

.plans{
	display: flex;
	flex-wrap:wrap;
}

.plan-item{
	padding: 5px;
}

.facades{
	
}
.facade-item{
	display: inline-block;
	padding: 5px;
}



.optional-services{
/*	display: flex;
	padding-top: 20px;
	flex-wrap: wrap;*/
}



.icon-optional-services{
	background: #131b21;		
	border-radius: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 223px;
	height: 213px;
}

.icon-services:before{
	background: url(img/redevelopment.png) no-repeat;
	content: '';
	display: block;
	width: 135px;
	height: 96px;
}


.icon-modification-facade:before{
	background: url(img/icon_facade.png) no-repeat;
	content: '';
	display: block;
	width: 107px;
	height: 101px;
}

.icon-replace-facade:before{
	background: url(img/icon_materials.png) no-repeat;
	content: '';
	display: block;
	width: 87px;
	height: 104px;	
}

.icon-blueprints:before{
	background: url(img/icon_blueprints.png) no-repeat;
	content: '';
	display: block;
	width: 119px;
	height: 104px;		
}

.icon-consultant:before{
	background: url(img/icon_consultant.png) no-repeat;
	content: '';
	display: block;
	width: 101px;
	height: 104px;			
}

.icon-modification-house:before{
	background: url(img/icon_house.png) no-repeat;
	content: '';
	display: block;
	width: 115px;
	height: 104px;			
}

.optional-service-item{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.optional-service-item p{
	max-width: 212px;
	font-size: 13px;
}

.optional-service-item h4{
	color: #787575;
	margin-top:10px;
}

.album_name,
.album_price{
	color: #000;
	font-size: 21px;
	padding: 10px 10px;
}

.album_price{
	font-weight: bold;
}

.row-album{
	background: #fff;
	margin-top: 10px;
}

.in-dop-uslugi{
	margin: 0 auto;
	padding: 5px;
	width: 250px;
	font-size: small;	
	display: block;
}

.b-button--in-dop-uslugi{
	padding: 10px;
}

/*модальные окна*/

.module{
	display: none;
}

/*.module{
	background: rgba(0,0,0,0.8);
	display: none;
	position: fixed;
	top:0;
	left: 0;
	bottom: 0;
	right:0;
	width: 100%;
	height:100%;
	z-index: 15000;
	overflow: hidden;
}


.module-form{
	background: #fff;
	padding: 30px;
	position: fixed;
	top:30%;
	left:40%;
	width: 500px;
}*/

.form-row{
	padding: 10px 0;
}

.form-row textarea,
.form-row input{
	border-radius: 0px;
	border: 1px solid #000;
	padding: 10px;
	width: 100%;	
}

.form-row textarea{
	padding: 10px;
}

.button-modal{
	
}

.button-modal:hover{
	background: #000;
	color: #fff;
}
.close{
	cursor: pointer;
}

.scroll-hidden { overflow: hidden }

.border-red{
	border:1px solid red !important;
}



/* FAQ */

.question-list{
	background: #fbfafa;
	padding: 10px;	
}

.answer-text{
	display: none;
	padding: 5px 20px;
}

.question-head{
	background: #1a2126;
	color: #fff;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 20px;
	margin-top: 20px;
	position: relative;
	padding: 20px 20px;
	text-transform: uppercase;
}

.question-head.selected{
	color: #000;
	background: #fff;
}

.question-head:after{
	background: url(/img/arrow_down__white.png) no-repeat;
	content: '';	
	display: inline-block;
	position: absolute;
	right: 10px;
	width: 35px;
	height: 19px;
}

.selected.question-head:after{
	background: url(/img/arrow_up__black.png) no-repeat;	
	content: '';	
	display: inline-block;
	width: 35px;
	height: 19px;
}



/* News */

.row-new-item{
	display: flex;
	justify-content: space-between;
}

.new-img a{
	display: inline-block;
}

.news-date-time{
	font-size: 22px;
    font-weight: bold;
    color: #ff8e01;
    margin-top:20px;
}
.news-header{
	margin-top: 20px;	
}

.news-text.right-new-block{
	margin-left: 50px;
}

.link-news-header{
	color: #000;
	font-size: 20px;
}

.link-news-header:hover{
	color: #ff8e01;
}

.left-new-block{
	order: 1;
	padding-right: 20px;
}



.right-new-block{
	order: 2;
}
.section-bg-grey{
	background: #4b4f51;
	padding: 10px 0;
}

.section-bg-grey a{
	color: #fff;
}

.preview_text{
	padding-top: 20px;
}

.section-bg-grey .preview_text{
	color: #fff;
}

.section-row-new-item{
	margin-bottom: 20px;
}

.right-new-block a{
	color: #000;
}


.header-service{
	min-height: 462px;
	/*height: 462px;*/
	/*margin-top: 40px;*/
}

.service-image{	
	/*min-height: 462px;*/
	position: relative;
}

.head-service__text--h1{
	background: rgba(255,255,255,0.8);

	clip-path: polygon( 0% 0%, 90% 0%, 100% 100%, 0% 100% );

	position: absolute;
	bottom: 0;
	display: block;
	padding: 30px 0 30px 30px;
	font-size: 35px;
	font-weight: bold;

	width: 70%;
}



.page-catalog__header h1{
	text-align: left;
}


.b-call-back{
	display: inline-flex;
	align-items: center;
	
}

.call-back{
	background: #131b21;
	color: #fff;
	font-size: 16px;
	padding: 5px 15px;
	cursor: pointer;
	width: 167px;	
	line-height: 1.4;
	text-align: center;
}
.call-back:hover{
	background: #fff;
	color: #131b21;
	outline:1px solid #131b21;
}



/* Banner */

.header-bnr{
	position: relative;
}

.b-pointer-slide{
	position: absolute;
	right: 2%;
	top: 45%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.icon-pointer{
	background: url(/img/icon-pointer-slide.png) no-repeat;
	cursor: pointer;
	display: block;
	width: 15px;
	height: 15px;
}

.icon-pointer.active{
	background: url(/img/icon-pointer-slide-active.png) no-repeat;
}

.slider_pointer{
	height: 21px;
	width: 21px;
}


.slide-active{
	display: block;
	transition: 1s;
}

.slide-none{
	display: none;
	transition: 1s;
}

.mobile{
	display: none;
}

.bnr-seivice{
	width: 100%;
	height: 100%
}

.select-block{
	
}


.cookie-notify{
	background-color: #f3f2f2;
    padding: 20px;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 100;
}

.cookie-notify__content{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.hide{
	display: none;
}


.icon-phone-waves{
	background: url(/img/icon_phone_waves.svg) #fff no-repeat;
	background-position: center;
	align-items: center;
	display: flex;
	display: block;
	height: 40px;
	width: 40px;
	animation: radial-pulse 6s infinite;
}

@keyframes radial-pulse {
  0% {
  	animation-timing-function: steps(14, end);
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5);
  }

  20% {
  	box-shadow: 0 0 0 40px rgba(0, 0, 0, 0);
  }
 
  100% {
    box-shadow: 0 0 0 40px rgba(0, 0, 0, 0);
  }
}

.phone-fixed-right{
	position: fixed;
	top:48%;
	right: 0px;
}
.modal-btn-text{
	color:#000;
	transform: translate(100%, 10px);
	position: absolute;
	width: 150px;
	transition:1s;
	z-index: 0;
}


.b-model-icon{	
	background-color: #fff;
	cursor: pointer;	
	height: 40px;
	display: flex;
	margin-top:1px;
	transition:1s;
	width: 52px;
}

.b-model-icon:hover{
	transition:1s;
	width: 190px;
}

.b-model-icon:hover span{
	display: inline-block;
	transform: translate(40px, 10px);
	transition:1s;
	z-index: 10;
}
.b-model-icon:hover i{	
	transition:1s;
}

.class-2 .bx-ft-sub{
	display: none;
}

.class-2 .bx-filter-parameters-box-container-block{
	height: 53px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.class-2 .bx-filter-input-container{

}

.class-2 input{
	border-bottom: 1px solid #ccc !important;
}

#arrFilter_2_MIN,
#arrFilter_2_MAX{
	text-align: center;
}

.arrow-back{
	background: url(/img/arrow_back_white.svg) no-repeat;
	background-size: contain;
	display: inline-block;
	height: 14px;
	width: 17px;
}

.link-back,
.link-back:hover{
	text-decoration: none;
}

.link-back:hover .arrow-back{
	background: url(/img/arrow_back_black.svg) no-repeat;
	background-size: contain;
	display: inline-block;
	height: 14px;
	width: 17px;
}

.header-small{
	font-size: 12px;
	display: inline-block;
}

.headslider>.slick-dots{
	position: absolute;
	top:45%;
	display: flex;
	flex-direction: column;
	right: 2%;
	width: auto;
	bottom: auto;
}

.headslider>.slick-dots{
	list-style-type: none;
}

.headslider>.slick-dots li button:before{
	content: '';
}

.headslider>.slick-dots li button{
	background: url(/img/icon-pointer-slide.png) no-repeat;
	cursor: pointer;
	display: block;
	width: 15px;
	height: 15px;
}

.headslider>.slick-dots li.slick-active button{
	background: url(/img/icon-pointer-slide-active.png) no-repeat;
}