@font-face {
    font-family: 'Georgia';
    src: url('../fonts/Georgia/Georgia-Bold.woff2') format('woff2'),
        url('../fonts/Georgia/Georgia-Bold.woff') format('woff'),
        url('../fonts/Georgia/Georgia-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Georgia';
    src: url('../fonts/Georgia/Georgia.woff2') format('woff2'),
        url('../fonts/Georgia/Georgia.woff') format('woff'),
        url('../fonts/Georgia/Georgia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

