.header.element-with-video-bg {
	background-image: url('../img/bg-main.jpg');
	background-size: cover;
}

.media__wrap h2{
	margin-bottom: 0;
}

.menu__search form div.ico_search{
	cursor: default !important;
}

b{
    font-weight: bold;
}

.service .block-page__aside .btn{
    margin-top: 21px;
}


@media (min-width: 1231px){
    .journal_scroll .allnews__grid-item:nth-child(4n) {
        margin-right: 30px;
    }
}


article ol,
article ul{
    list-style: square outside;
    padding-left: 20px;
    margin: 5px 5px 10px;
}

article ol li,
article ul li{
    margin-top: 15px;
    line-height: 1.9;
}

article ol {
    list-style:  decimal outside;
}

.block-page__content.center{
    margin: 0 auto;
}

.block-page__content.center article{    
}


ul.grid-half,
ul.grid-list,
article ul.list-grid{
    list-style: none;   
}


dd ul{
    padding-left: 0;
}
dd ul li {
    list-style: none;
}

dd ul li:before{
    content: ' — ';
    margin-right: 5px;
    list-style-position:outside;

    /*position: absolute;*/

}

article ul li p{
    margin: 0;
}

.img-center{
    display: block;
    margin: 0 auto;    
}

.checkbox_subs{
    height: 20px;
    width: 20px;
    margin: 0;
}

.menu__search form div.ico_search {
    padding: 0px;
    border: 0px;
    background-color: transparent;
    cursor: pointer;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    width: 15px;
    height: 15px;
    position: relative;
    top: 3px;
    outline: none;
    transition: .2s;
}
.menu__search form div.ico_search svg {
    fill: #fff;
    width: 15px;
    height: 15px;
}

a{
    color: #23356f;    
}

.consultdesc__info p a{
    font-size: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

i,
em{
    font-style: italic;
}

.resume__form-input--50 {
    width: -webkit-calc(50% - 20px);
    width: calc(50% - 20px)
}

.resume__form-input--50[name=form_text_46]{
    width: -webkit-calc(100% );
    width: calc( 100% );
}

.inputselect{
    font-family: "Bliss Pro";
    font-size: 16px;
    margin: 20px 0;
    padding: 3px 10px; 
}


@media (max-width: 560px){
    .inputselect{
        width: 100%; 
    }
}

.media__more{
	margin: 22px auto  62px auto;	
}

@media (min-width: 1081px) {
	.fancybox-request-form .fancybox-content {
		padding: 0 100px;
	}
}

.map-sp,
.city-sp{
    display: none;
}


.tab__header{
    justify-content:flex-start;
    
}


.tab__header-item{
    margin-right: 10px;
}

.tab__header-item span{
    
    padding: 16px 45px
}

.block-page__author-item div span{
    overflow:inherit;
}

.block-page__author-item.block p{
    font-size: 16px;
}

.block-page__author{
    border-bottom: none;
}

.release__desc-img i img{
    height: 594px;
}

.material-event__grid{
    justify-content: flex-start;
}

.material-event__grid .consitem{
        margin-right: 20px;
}

.consitem{
    display: block;
}

.krelease-media h2{
    margin-bottom:61px;
}

.footer__copyright-dev em,
i.article-max__avatar,
em span{
    font-style: normal;
}

.tei_text ul{
    list-style:  square outside;
    margin-left: 40px;
}

.tei_text ul li{
    margin-top: 17px;
}

.tei_text p{
    margin-bottom:20px;
}

p strong{
    font-weight: bold;
}

.block-page__author{
    margin-top: 27px;
}

.service .block-page__aside .btn{
    margin-top: 10px;
}

.block-page__author-item div span{
    height: auto;
}


.block-page__author-item.block{
    display: block;
    overflow: hidden;
    width: 275px;
}
.block-page__author-item.block a p{
    color: #000;
    margin-bottom: -5px;
    font-size: 16px;
}

.block-page__author-item img{
    height: 101px;
    margin-right: 21px;
    width: 101px;
}

.block-page__author-item.block b{
    color: #23356f;
    font-weight: bold;
    font-family: "Georgia";
    line-height: 26px;
    font-size: 16px;
    margin-top: -3px;
}




.office__desc-info em,
em a{
    font-style: normal;
}

.panel-btn a:hover{
    opacity: .5;
}

.tei-label__wrap ul li a.active{
    background-color: #fff;
    border-color: #fff;
    color: #23356f;
}

.tei-label.mt-5{
    margin-bottom:50px;
}

.service.block-page .numbers__grid-item{
     width: 33% !important;
}

.bx-filter-select-text{
    font-size: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.consult__filter{
    padding-left: 10px;
}

.consult__filter-item{
    margin-right: 23px;
}

.btn.btn-themes{
    font-size: 17px;
}


.consultants__grid{
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

.consultants__grid .consitem{
    margin: 0 10px;
    margin-bottom: 60px;
}

.hide {
    display: none;
}
.btn--100 {
    width: 100%;
}

.popup-window{
    margin-top: 49px;
    padding: 0;
    width: 268px;    
}

.bx-filter-popup-result{
    display: none;
    opacity: 0;
}

.bx-filter-select-popup ul li.option label{
    height: 100%;
    padding: 6px; 
    padding-left: 18px;
    padding-right: 29px;
    display: block;
}

.bx-filter-select-popup ul li.option label:hover{
    background-color: #23356f;
    color: #fff;
}

.bx-filter-select-popup ul li label{
    font-size: 16px;
    font-weight: 400;   
}

.scroll-y{
    border: 2px solid #23356f;
    height: 300px;
    overflow-y: scroll !important;
}

.scroll-y::-webkit-scrollbar{        
    width: 6px;
}

.scroll-y::-webkit-scrollbar-track{
    background-color:#ecedee;
}

.scroll-y::-webkit-scrollbar-thumb {
-webkit-border-radius: 0px;
  border-radius: 0px;
  background-color: #23356f;height: 25px;
  }

  .btn.look-all{
        margin: 0 auto;
        width: 260px;
  }
  
  
  
/* policy form */
.resume__form--policy .block-check__label {
    margin-bottom: 20px;
}
.resume__form--policy .block-check {
    margin: 0 0 20px;
    width: 100%;
}
.resume__form--policy .block-check__help {
    color: #515151;
    font-size: 16px;
	margin: 0 0 40px;
    padding: 0 32px;
}

.footer__copyright .footer__copyright-img__links {
	display: block;
	margin-top: 0.5rem;
}
/*.footer__copyright-img__links a + a {
	margin-left: 15px;
}*/

.consitem__avatar{
    font-style: normal;
}

iframe.facebook_2 div.pluginSkinLight form button div>span{
    display: none;
    background: #65729a;
}

.footer__logo{
    margin-right: 35px;
}



.philosophy__header:before,
.blockhead:before ,
.headslider__content:before {
    content: '  ';
    display: block;
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.btn--head,
.headslider__content h2,
.philosophy__header-content h3, .philosophy__header-content h1, 
.blockhead__content h2{
    z-index: 99;
}

.blockhead__content h2{
    line-height: 73px;
}

textarea.resume__form-textarea{
    display: none;
}
textarea.resume__form-textarea.policy{
    display: block;
}



.prof-team__img img{
    object-position: top center;
}

.footer__copyright-dev{
    /*width: 25%;*/
}

.footer__copyright>div{
    padding: 0 14px;
}
.footer__copyright-img{
  padding: 0 7px;  
}

.footer__copyright>div.footer__copyright-text{
    padding-left: 0;
}

.footer__copyright-link a{
    margin-left: 0;
}

.footer__copyright-img img{
    margin-right: 0;
}
.footer__copyright-img img:first-child {
  margin-right: 7px;
}

.footer__copyright-img img.img_bluesteps{
    height: 26px;
}

.footer__copyright-img,
.footer__copyright-dev{
    vertical-align: middle;
}



.release__author{
    display: inline-block;
}
.release__author .author-block__item{
    display: inline-flex;
    width: 49%;
}

.author-block__item div span{
    height: auto;
}

.column-half{
    column-count:1;
}

.philosophy__header{
    background: url("/img/philosophy.jpg") center center no-repeat;
}


@media (max-width: 992px){

    .footer__copyright div.footer__copyright-img{
        display: flex;
        width: 100%;
    }

    .footer__copyright-img img{
        display: inline-block;
    }

    .footer__copyright-img img.img_bluesteps{
        height: 20px;
    }

    .footer__copyright>div,
    .footer__copyright .footer__copyright-img__links{
        margin-top: 4px;
    }
    .footer__copyright-img img:first-child{
        margin-right: auto;
    }

    .footer__copyright-img>img{
        margin: 0 auto;
    }
    .footer__copyright-img>img.img_bluesteps{
            /*margin-top: 15px;*/
            padding-left: 15px;
    }

    .footer__copyright-dev{
        order: 6;
        -webkit-box-ordinal-group: 6;
        -webkit-order: 6;
        -ms-flex-order: 6;
    }
    .footer__copyright-text{
        order: 5;
        -webkit-box-ordinal-group: 5;
        -webkit-order: 5;
        -ms-flex-order: 5;
    }

    .footer__copyright>div{
        margin-bottom: 20px;
    }

    .footer__top{
        justify-content: space-around;
    }

    .footer__copyright .footer__copyright-text{
        margin-top: 0px;
    }
    .footer__copyright .footer__copyright-text span{
        line-height: 25px;
    }

    .office__map{
        height:570px;
    }

    .author-block__item{
        display: flex;        
        width: 100%;
    }

    .author-block__item>div{
        width: 70%;
    }

}


.cookie-notify {
    background-color: #f3f2f2;
	padding: 20px;
    width: 100%;
    position: fixed;
    bottom: 0;
	z-index: 100;
}
.cookie-notify__content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
	justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


@media (max-width: 560px){
    .release__author .author-block__item {
        width: 100%;
    }

}

@media (max-width: 420px){

  .consitem__avatar img{
        margin: 0 auto;
        width: auto;
    }

    .consult__slider .slick-prev{
        left: 1px;
    }

    .consult__slider .slick-next{
        right: 1px;
    }

}


.panel-article__social a svg {
    fill: rgba(35, 53, 111, .5);
}
.panel-article__social a:hover svg {
    fill: #23356f;
}

.mt-3{
    margin-top: 30px !important;
}

.pt-5{
    padding-top: 50px !important;
}

.headslider__item.jarallax{
    z-index: 1;
}

@media (max-width: 1024px){
    .release__desc-img i img{
        height: auto;
    }
}


article .cont_tei h3{
    font-size: 25px;
    line-height: 30px;
}

article .cont_tei h4,
article .cont_tei h5,
article .cont_tei h6{
    color: #23356f;
    font-family: "Georgia";
    font-weight: bold;
    line-height:40px;
}

article .cont_tei h4{
    font-size: 24px;
    
}
article .cont_tei h5{
    font-size: 22px;  
    
}
article .cont_tei h6{
  font-size: 19px;    
  
}


@media (max-width: 768px){
    .block-page__author-item i{
        width: auto;
    }

    .panel-article{
        border-bottom: none;
    }


    .panel-article .panel-article__social{
        position: absolute;
        left: 10px;
    }

    .panel-article__btn.journal__footer{
        height: 200px;
        left: 0;
        position: absolute;        
        width: 100%;        
    }

    .panel-article__btn>.journal__envelope.js-share-email{
        position: absolute;
        left: 10px;
        top: 30px;
    }

    .panel-article__btn>.journal__printer.js-print{
        position: absolute;
        right: 10px;
    }

    .panel-article__btn>a.journal__pdf{
        position: absolute;
        right: 10px;
        top: 30px;
    }

    article{
        padding-top: 40px !important;
    }

    .journal__footer a svg{
        fill: #23356f;
    }
    .panel-article__social a svg{
        fill: #23356f;  
    }

    .resume__form-input--50{
        width: 100%;
    }


}

.callback__wrap h3{
    padding-right: 253px;
}

.page-404{
    margin: 120px;    
}

.page-404 h1{
    color: #23356f;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: "Georgia";
}


.release__desc-info p{
    margin-bottom: 0;
}

.release__desc-info{
    justify-content: flex-start;
}

.mr-3{
    margin-right: 30px;
}

sup{
    font-size: 80%;
    vertical-align: text-bottom;
}

input[name=form_text_65],
input[name=form_text_64]{
    display: none;
}

.newsslider.js__newsslider:empty {
    display: none;
}


.school-form--order .school-form__group.id_67{
    width:67%;
}


.school-form--order .school-form__group.id_68{
    width: 28.5%;
    margin-left: 4.5%;
}