@font-face {
    font-family: 'Bliss Pro';
    src: url('../fonts/BlissPro/BlissPro-ExtraLight.woff2') format('woff2'),
        url('../fonts/BlissPro/BlissPro-ExtraLight.woff') format('woff'),
        url('../fonts/BlissPro/BlissPro-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Bliss Pro';
    src: url('../fonts/BlissPro/BlissPro-Light.woff2') format('woff2'),
        url('../fonts/BlissPro/BlissPro-Light.woff') format('woff'),
        url('../fonts/BlissPro/BlissPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


