div.news-detail
{
	word-wrap: break-word;
}
div.news-detail img.detail_picture
{
	float:left;
	margin:0 8px 6px 1px;
}
.news-date-time
{
	color:#486DAA;
}

@media print {
	.material__header.jarallax{
		display: none;
		/*background-size: 0;*/
	}
}
