div.search-page input.search-query {width: 100%;}

div.search-page table.search-query-table, 
div.search-page table.search-query-table tr { 	
	border-width: 0; 
}
div.search-page table.search-query-table td:first-child { 
	width: 50%; 
}

@media (max-width: 1080px) {
	div.search-page table.search-query-table td:first-child { 
		width: 100%; 
	}
}
@media (max-width: 420px) {
	div.search-page table.search-query-table td { 
		display: block;
		width: 100%; 
	}
}

.search__grid-item {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    margin-bottom: 37px;
}

.search__grid-item:last-child {
    margin-bottom: 0px;
}

.search__grid-info {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    position: relative;
}