@media (max-width: 990px){
	body,
	.top{
		width: 100%;
		height: auto;
	}

	.top-email,
	.tabs,
	.menu-top,
	.m-none,	
	.b-call-back,
	.image-russia-map{
		display: none;
	}

	.main-image{
		width: 100%;
		height: 100%;
		overflow: hidden;
	}


	.mobile{
		display: block;
	}

	

	.row-detail-block{
		flex-direction: column;
	}

	.top-email>.email{
/*		display: flex;
		justify-content: center;*/
		font-size: 17px;
	}

	.headslider__content{
		width: 95%;
	}

	.b-catalog__item--img{
		width: 100%;
	}

	.b-pointer-slide{
		top:40px;		
	}

	.b-service__list{
		flex-wrap: wrap;		
	}
	.b-service__item{
		margin-top: 10px;
		width: 49%;
	}


	.headslider__text--h1{
		font-size: 120%;
	}
	.headslider__text--h2{
		font-size: 110%;
	}

	.container{
		padding-right: 15px !important;
		padding-left: 15px !important;
	}

	.footer-logo img{
		width: 100px;
	}

	.headslider__item{
		
	}
	.b-headslider__content,
	.header-bnr{
		height: 175px;
	}


	.mobile-top-row{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 10px;
	}

	.icon-menu-btn{
		background: url(/img/icon_mobile_menu.png) no-repeat;
		width: 30px;
		height: 16px;
		display: block;
	}


	.menu-top{
		position: absolute;
		height: auto;
		top:98px;
	}

	.b-menu{
		background: #182024;
		flex-direction: column;
		padding: 20px 10px;
	}

	.menu-top--list li a{
		color: #fff;
		text-transform: unset;
		display: block;
	}

	.menu-top--list li a:hover{
		border: none;
	}

	.menu-top--list li{
		padding: 10px 0; 
	}

	.menu-top--list{
		display: flex;
		flex-direction: column;
	}

	.menu-top--list{
		padding-left: 20px;
	}

	.m-menu-header{
		text-align: center;
		color: #fff;
		border-bottom: 1px solid #fff;
		padding: 5px;
	}

	.child-menu{
		background: #182024;
		padding-left: 20px;
		position: relative;
	}

	.child-menu.active{
		display: block;
	}

	.child-menu li a{
		font-size: 18px;
	}

	li.parent:after{
		background: url(/img/arrow_down_white_mobile.png) no-repeat;
	    content: '';
	    position: absolute;
	    /*left: 85px;*/
	    right:53%;
	    top: 24px;
	    height: 8px;
	    width: 14px;
	}

	.menu-top--list li:hover .child-menu{
		display: none;
	}


	.section{
		padding-top: 10px;
	}

	.gallery-reviews{
		/*max-width: 235px;*/
	}

	.module-form{
		width: 100%;
		left:0;
	}

	.top-row-mobile{
		padding: 5px 10px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.m-logo{
		background: url(/bitrix/templates/urban/img/logo.png?v=2) no-repeat;
		background-size: contain; 
		background-position:center;		
		height: 50px;
		width: 150px;
	}

	.email:before{
		width: 17px;
		height: 12px;
	}
	.phone:before{
		width: 13px;
	}

	.facade-item img,
	.plans img,
	.cols-detail-1{
		width: 100%;
	}

	.cols-detail-2,
	.main-img{
		width: 100%;
	}

	.cols-detail-2{
		padding-left: 15px;
	}

	.tabs{
		flex-direction: column;
	}

	.gallery{
		margin: 0;
		padding: 0 20px;
		width: 100%;
	}

	.optional-services{
		justify-content: center;
	}

	.logo-link{
		display: block;
		width: 112px;
		height: 50px;
	}

	.tab-item{
		margin-left:0;
		margin-top:5px;
	}

	.tab-accordion{
		background: #bdbdbd;
		color: #fff;
		margin-bottom: 0;
		margin-top:5px;
		padding: 10px 0;
	}

	.tab-accordion:after{
		/*background: url(/img/);*/
	}

	.plans{
		flex-direction: column;
	}


	.total-square:before{
		width: 40px;
		height: 39px;
	}

	.icon-size-detail:before{
		height: 35px;
		width: 35px;
	}

	.icon-rooms--detail:before{
		height: 40px;
		width: 35px;	
	}

	.icon-garage-detail:before{
		height: 35px;
		width: 35px;
	}

	.icon-garage-detail,
	.size-house-text,
	.row-properties--icon{
		font-size: 16px;
	}

	.text-sm{
		font-size: 14px;
	}

	.total-square-text sup{
		font-size: 12px;
	}


	.icon-garage-detail:before, 
	.icon-rooms--detail:before, 
	.icon-size-detail:before, 
	.total-square:before{
		margin-right: 10px;
	}

	.w-240{
		width: 49%;
	}


	.colomn-detail-properties{
		margin-top: 10PX;
	}

	.thumbnail-item{
		/*width: 80%;*/
	}

	.phone{
		font-size: 18px;
	}

	.email a{
		font-size: 14px;
	}

	.m-header-text{
		font-size: 14px;
	}

	.body-page-padding{
		padding-top: 5px;
	}

	.item__header h1{
		font-size: 25px;
	}

	.download_example{
		width: 120px;
		text-align: right;
	}

	.album_price{
		font-size: 17px;
	}

	.tab-info{
		padding: 20px 5px;
	}

	.line-height-sm{
		line-height: 20px;
	}

	.cart-item{
		margin-right: 0;
	}

	.cart-item--image{
		width: 100%;
	}

	#b-id-19, #b-id-19 .bx-filter-block, #b-id-19 .bx-filter-parameters-box-container, #b-id-20, #b-id-20 .bx-filter-block, #b-id-20 .bx-filter-parameters-box-container{
		height: auto;
	}

	.mob-filter-colomn{
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.new-img{
		display: none;
	}

	.news-text.right-new-block{
		margin-left: 0;
	}

	.question-head{
		font-size: 15px;
		padding:10px 17px 10px 10px;
	}

	.question-head:after{
		background: url(/img/arrow_down_white_mobile.png) no-repeat;
		content: '';
		display: inline-block;
		height: 8px;
    	width: 14px;
    	right: 5px;
	}

	.selected.question-head:after{
		background: url(/img/arrow_up.png) no-repeat;
		content: '';
		height: 8px;
    	width: 14px;
	}

	.head-service__text--h1{
		font-size: 15px;
		width: 100%;
		padding: 5px 0 5px 30px;
	}

	.header-service{
		margin-top: 0;
		height: auto;
		min-height: 100px;
	}

	.page-catalog__header h1{
		font-size: 17px;
	}

	.pt-md-2{
		margin-top:20px;
	}
	.m-top-md-2{
		margin-top:20px;
	}
	.mt-md-3{
		margin-top:30px;
	}


	.b-reviews{
		margin:auto; 
		width: 93%;
	}

	#b-id-9{
		width: 100%;
	}

}


@media(max-width: 775px){
	.m-top-md-4{
		margin-top:40px;
	}
}

@media(max-width: 340px){
	.top-email>.email a{
    	font-size: 12px;
	}


	.m-header-text {
    	font-size: 13px;
	}

}


@media(max-width: 397px){
	.cart-item:hover .cart-item--text-hover{
		display: none;
	}
	.text-hover-value{
		font-size: 54px;
	}
	.size-value{
		font-size: 26px;
	}

	.tab-info-text>.container{
		padding: 10px 5px !important;
	}
	.question-list{
		padding: 0;
	}
}